#Homebtn{
	padding:16px 250px 16px 250px;
    margin:20px 30px 20px 0px;
	font-family:cooper black;
	background-color: #F64C72;
	cursor:pointer
	
}

#Productsbtn{
	padding:16px 250px 16px 250px;
	margin:20px 30px 20px 0px;
	font-family:cooper black;
	background-color: #F64C72;
	cursor:pointer;
}

#Cartbtn{
	padding:16px 250px 16px 250px;
	margin:20px 0px 20px 0px;
	font-family:cooper black;
	background-color: #F64C72;
	cursor:pointer;
}

#filter{
	font-family:cooper black;
	background-color: #F64C72;
	cursor:pointer;
}

h1{
	font-size:50px; 
	margin-left:850px;
	font-family:Bernard MT Condensed;
}

#top{
	margin-left: 1450px;
	font-family:cooper black;
}

#Topshoe{
	margin-left:220px;
}

#NewShoe{
	margin-left:220px;
}

#new{
	margin-left: 1555px;
	font-family:cooper black;
}

.Group1{
	margin: 10px 0px 30px 450px;
	font-family:cooper black;
}

.Group2{
	margin: 10px 150px 30px 150px;
	font-family:cooper black;
}

.Group3{
	margin: 10px 0px 10px 0px;
	font-family:cooper black;
}

.pic1{
	margin-left: 550px;
}

.pic2{
	margin-left: 250px;
	margin-right: 0px;
}

.pic3{
	margin-left: 200px;
}

.cart1{
	margin-left:550px;
	font-family:Abadi;
	background-color: #F64C72;
	cursor:pointer;
}

.cart2{
	margin-left:270px;
	font-family:Abadi;
	background-color: #F64C72;
	cursor:pointer;
}

.cart3{
	margin-left:220px;
    font-family:Abadi;
	background-color: #F64C72;
	cursor:pointer;
}

#Catalog1{
	margin-top: 30px;
	margin-left: 700px;
	margin-right: 50px;
	font-family:calibri;
	background-color: #F64C72;
	cursor:pointer;
}

#Catalog2{
	margin-left: 50px;
	margin-right: 50px;
	font-family:calibri;
	background-color: #F64C72;
	cursor:pointer;
}

#Catalog3{
	margin-left: 50px;
	margin-right: 50px;
	font-family:calibri;
	background-color: #F64C72;
	cursor:pointer;
}

#Catalog4{
	margin-left: 50px;
	margin-right: 50px;
	font-family:calibri;
	background-color: #F64C72;
	cursor:pointer;
}

#Catalog5{
	margin-left: 50px;
	font-family:calibri;
	background-color: #F64C72;
	cursor:pointer;
}

body{
	background-color: #b342f5
}